<div id="menu-error_name" class="menu-error"></div>
<div class="name-form-field">
  <%= f.text_field :menu_name, autofocus: false, id: "menu_name", autocomplete: "menu_name", placeholder: "献立名(最大20字)" %>
</div>

<div id="menu-error-menu-contents" class="menu-error"></div>
<div class="menu-contents-field">
  <%= f.text_field :menu_contents, autofocus: false, id: "menu_contents", autocomplete: "menu_contents", placeholder: "献立の説明(最大60字)" %>
</div>

<div class="image-field">
  <%= f.file_field :image, autofocus: false, autocomplete: "image", placeholder: "献立の写真", id: "menu_image" %>
</div>
