<div class="image-preview-container">
  <img id="image-preview" src="<%= image_data_url if image_data_url.present? %>" width="300" height="200" alt="uploaded image preview" style="<%= 'display: none;' unless image_data_url.present? %>" />
</div>
