.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    box-sizing: border-box;

    width: 100%;
    margin: 20px auto 60px;
    margin-bottom: 60px;
  }

  // .menu-registration-instructions{
  //   font-size: 13px;
  //   position: relative;
  //   margin-top: -40px;
  //   margin-bottom: 10px;
  //   opacity: 0.4;
  //   @media screen and (max-width: 600px) {
  //     font-size: 10px;
  //   }
  // }

  .contents-title{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: underline;
    text-align:  center;
  }

  .menu-registration-back-button {
    width: 200px;
    margin: 0 auto;
  }

  .back-button{
    margin-top: 10px;
    padding: 10px 40%;
    font-size: 15px;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    @media screen and (max-width: 400px) {
      margin-top: 10px;
      margin-left: 5px;
      padding: 10px 40%;
      font-size: 15px;
      background-color: #000000;
      color: white;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      white-space: nowrap;
    }
  }

  .menu-registration-container{
    text-align: center;
    width: 55%;
    @media screen and (max-width: 1050px) {
      width: 80%;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .menu-registration-input{
      width: 100%;

      .name-registration-field input{
        width: 100%;
        padding: 10px 4%;
        font-size: 13px;
        margin-bottom: 13px;
        margin-right: 13px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }

    .menu-registration-field input{
      width: 100%;
      padding: 10px 4%;
      font-size: 13px;
      margin-bottom: 13px;
      margin-right: 13px;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    textarea {
      width: 100%;
      height: 200px;
      padding: 10px 4%;
      font-size: 13px;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      opacity: 0.8;
    }

    .image-registration-field input{
      width: 90%;
      padding: 10px 4%;
      font-size: 13px;
      margin-bottom: 13px;
      margin-right: 13px;
    }

    .menu-registration-actions {
      width: 200px;
      margin: 0 auto;
      margin-top: 40px;
    }

    .menu-registration-actions input{
      padding: 10px 40%;
      font-size: 15px;
      background-color: #1E9AF4;
      color: white;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }


  .ingredient-registration-title{
    font-size: 15px;
    @media screen and (max-width: 1200px) {
      font-size: 13px;
      margin-bottom: 25px;
    }
    @media screen and (max-width: 300px) {
      font-size: 10px;
    }
    @media screen and (max-width: 260px) {
      font-size: 8px;
    }
  }

  .contents-description{
    font-size: 10px;
    margin-top: 30px;
    @media screen and (max-width: 400px) {
      text-align: center;
    }
  }

  // 献立リストのスタイル
  .ingredients-list {
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;


    .ingredient-item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding-top: 10px;
      margin: 5px;
      .ingredient-name {
        margin-left: 20px;
        margin-right: auto;
        @media screen and (max-width: 1200px) {
          margin-left: 30px;
        }
        @media screen and (max-width: 320px) {
          margin-left: 0px;
        }
      }
    }

    .no-ingredients-message{
      text-align: center;
    }
  }

  // 献立画面のスタイル
  .ingredient-registration-input{
    width: 100%;
    .ingredient-registration-field{
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      @media screen and (max-width: 400px) {
        display: block;
        border: none;
      }

      .custom-ingredient-fields{
        display: flex;
        .ingredient-name{
          width: 320px;
          display: block;
          border: none;
          padding: 10px;
          border-right: 1px solid #ccc;
          @media screen and (max-width: 400px) {
            width: 90%;
            border-bottom: 1px solid #ccc;
            border-right: none;
          }
        }
        .ingredient-quantity{
          width: 30px;
          display: block;
          border: none;
          padding: 10px;
          border-right: 1px solid #ccc;
          @media screen and (max-width: 400px) {
            width: 90%;
            border-bottom: 1px solid #ccc;
            border-right: none;
          }
        }

        select {
          display: block;
          border: none;
          padding: 10px;
          border-right: 1px solid #ccc;
          @media screen and (max-width: 400px) {
            width: 100%;
            border-bottom: 1px solid #ccc;
            border-right: none;
          }
        }
      }
    }

    #ingredient-delete{
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      .ingredient-delete-actions {
        background-color: transparent;
        border: none;
        font-size: 15px;
        @media screen and (max-width: 400px) {
          display: block;
          border-radius: 20px;
        }
      }
    }
  }

  #ingredient-plus {
    margin-top: 20px;
    .ingredient-registration-actions {
      width: 100%;
      background-color: #f16868;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
    }
  }

  .ingredient-button{
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 40%;
    font-size: 15px;
    background-color: #1E9AF4;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    @media screen and (max-width: 400px) {
      margin-top: 10px;
      margin-left: 5px;
      padding: 10px 40%;
      font-size: 15px;
      background-color: #000000;
      color: white;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      white-space: nowrap;
    }
  }

  .ingredient-registration-button,
  .ingredient-registration-back-button{
    width: 200px;
    margin: 0 auto;
  }

  .ingredient-button{
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 40%;
    font-size: 15px;
    background-color: #1E9AF4;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  }

  .ingredient-back-button{
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 40%;
    font-size: 15px;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  }
}