@import 'shared/styles';
@import 'shared/form';

.menu-show-container{
  @include menu-container;
  @media screen and (max-width: 900px) {
    width: 100%;
  }

  .menu-detail-container{
    width: 70%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }

    .ingredient-show-container{
      @include flex-center-column;
      @media screen and (max-width: 480px) {
        width: 100%;
      }

      .show-contents-title p{
        @include contents-title;
        margin-bottom: 30px;
      }

      #ingredients_list {
        width: 100%;
      }

      .ingredients-show-list {
        width: 60%;
        padding-bottom: 30px;
        @media screen and (max-width: 1400px) {
          width: 95%;
        }
  
        .ingredient-show-item {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          border-bottom: 1px solid black;
          padding-bottom: 5px;
          margin-bottom: 5px;
        }
  
        .ingredient-show-item p {
          margin-top: 0;
          margin-bottom: 0;
        }
  
        .material-name {
          flex-basis: 70%;
        }
  
        .quantity-unit {
          display: flex;
          flex-basis: 30%;
          justify-content: flex-end;
        }
  
        .quantity,
        .unit {
          margin-left: 10px;
        }
  
        .no-ingredients {
          text-align: center
        }
      }

      .select-button-container{
        .select-button{
          @include button;
          width: 70%;
          height: 60px;
          margin-top: 20px;
          margin-bottom: 5px;
          background-color: #555
        }
      }
    }
  }

  .menu-button-container {
    width: 100%;

    .item-selection-container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;

      .quantity-selector{
        display: flex;
        margin-right: 0px;
        .quantity-input {
          width: 3em;
          text-align: center;
        }
      }

      .select-button {
        @include button;
        border-radius: 0%;
        width: 15%;
        background-color: #555;
        margin-bottom: 30px;
        height: 60px;
        margin: 0;
        @media screen and (max-width: 800px) {
          width: 30%;
        }

        &:hover {
          background-color: lighten(#7d7d7d, 10%);
        }
      }

      .quantity-input {
        width: 100px;
        height: 46px;
        font-size: 20px;
        padding: 5px 10px;
      }
    }

    .edit-button,
    .back-button,
    .delete_button {
      @include button;
      width: 49%;
    }

    .edit-button,
    .delete_button{
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .edit-button{
      background-color: #777;
      &:hover {
        background-color: lighten(#7d7d7d, 10%);
      }
    }

    .delete_button{
      background-color: #ff3636;
      &:hover {
        background-color: lighten(#faadad, 10%);
      }
    }

    .back-button {
      margin-top: 20px;
    }
  }
}