.menu-container{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (max-width: 600px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto 60px;
    margin-bottom: 60px;
  }

  .contents-title{
    font-size: 20px;
    padding-top: 10px;
    text-decoration: underline;
    text-align:  center;
  }

  .menu-registration-back-button {
    width: 45%;
    margin: 0 auto;
  }

  .back-button{
    margin-top: 10px;
    padding: 10px 40%;
    font-size: 15px;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    @media screen and (max-width: 400px) {
      padding: 10px 40%;
    }
  }

  .menu-registration-container{
    text-align: center;
    width: 55%;
    @media screen and (max-width: 1050px) {
      width: 80%;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .menu-registration-input{
      .menu-error{
        font-size: 17px;
        color: rgb(250, 43, 43);
        text-align: left;
        margin-left: 20px;
      }

      .ingredients-error-message{
        font-size: 17px;
        color: rgb(250, 43, 43);
        text-align: center;
      }
    }

    .name-registration-field input,
    .menu-registration-field input,
    textarea{
      width: 100%;
      padding: 10px 4%;
      font-size: 13px;
      margin-bottom: 13px;
      margin-right: 13px;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    textarea {
      height: 200px;
      opacity: 0.8;
    }

    .image-registration-field input{
      width: 90%;
      padding: 10px 4%;
      font-size: 13px;
      margin-bottom: 13px;
      margin-right: 13px;
    }

    .menu-registration-actions {
      width: 45%;
      margin: 0 auto;
      margin-top: 40px;
    }

    .menu-registration-actions input{
      padding: 10px 40%;
      font-size: 15px;
      background-color: #1E9AF4;
      color: white;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  // 献立リストのスタイル

  // 献立画面のスタイル
  .ingredient-registration-input{
    width: 100%;
    .ingredient-registration-field{
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      @media screen and (max-width: 400px) {
        display: block;
        border: none;
      }

      .custom-ingredient-fields{
        display: flex;
        margin-top: 2px;

        .ingredient-name,
        .ingredient-quantity,
        select{
          width: 320px;
          display: block;
          border: none;
          padding: 10px;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          border-top: 1px solid #ccc;
          @media screen and (max-width: 400px) {
            width: 90%;
            border-bottom: 1px solid #ccc;
            border-right: none;
          }
        }
        .ingredient-quantity{
          width: 60px;
        }

        select {
          width: auto;
        }

        .form-number{
          padding: 10px;
          background-color: #f99d68;
          border: 1px solid #ccc;
        }
      }
    }
  }
}