@import 'shared/menuForm';
@import 'shared/styles';

.confirm-container{
  @include menu-container;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
  .confirm-form-container{
    width: 70%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    .contents-title{
      @include contents-title;
    }

    .ingredient-confirm-container{
      @include flex-center-column;
      @media screen and (max-width: 480px) {
        width: 100%;
      }

      .ingredients-list {
        width: 60%;
        padding-bottom: 30px;
        @media screen and (max-width: 1400px) {
          width: 95%;
        }

        .ingredient-item {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          border-bottom: 1px solid black;
          padding-bottom: 5px;
          margin-bottom: 5px;
        }

        .ingredient-item p {
          margin-top: 0;
          margin-bottom: 0;
        }

        .material-name {
          flex-basis: 70%;
        }

        .quantity-unit {
          display: flex;
          flex-basis: 30%;
          justify-content: flex-end;
        }

        .quantity,
        .unit {
          margin-left: 10px;
        }

        .no-ingredients {
          text-align: center
        }
      }
    }

    .button-confirm-container{
      display: block;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 550px) {
        width: 100%;
      }

      .menu-registration-button,
      .menu-edit-button{
        width: 60%;
        padding-top: 10px;
        margin: auto;
        @media screen and (max-width: 1400px) {
          width: 100%;
        }
      }

      .menu-registration-button input{
        @include default-button-style;
        background-color: #1E9AF4;
        color: white;
        @include hover-background(#aae6ff);
      }
    }
  }
}
