@import 'shared/styles';
@import 'shared/menuForm';

.menu-show-container{
  @include menu-container;
  @media screen and (max-width: 900px) {
    width: 100%;
  }

  .menu-detail-container{
    width: 70%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }

    .menu-show-list{
      @include flex-center-column;
      .show-contents-title{
        @include contents-title;
      }
    }

    .ingredient-show-container{
      @include flex-center-column;
      @media screen and (max-width: 480px) {
        width: 100%;
      }

      .ingredients-show-list {
        width: 50%;
        padding-bottom: 30px;
        @media screen and (max-width: 1400px) {
          width: 95%;
        }

        .ingredient-show-item {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          border-bottom: 1px solid black;
          padding-bottom: 5px;
          margin-bottom: 5px;
        }

        .ingredient-show-item p {
          margin-top: 0;
          margin-bottom: 0;
        }

        .material-name {
          flex-basis: 70%;
        }

        .quantity-unit {
          display: flex;
          flex-basis: 30%;
          justify-content: flex-end;
        }

        .quantity,
        .unit {
          margin-left: 10px;
        }

        .no-ingredients {
          text-align: center
        }
      }
    }
  }

  .back-button{
    @include back-button;
    width: 45%;
  }
}