@import 'shared/styles';
@import 'shared/menuForm';

.menu-show-container{
  @include menu-container;
  @media screen and (max-width: 900px) {
    width: 100%;
  }

  .menu-button-container {
    width: 100%;

    .item-selection-container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;

      .quantity-selector{
        display: flex;
        margin-right: 0px;
        .quantity-input {
          width: 3em;
          text-align: center;
        }
      }

      .select-button {
        @include button;
        border-radius: 0%;
        width: 15%;
        background-color: #555;
        margin-bottom: 30px;
        height: 60px;
        margin: 0;
        @media screen and (max-width: 800px) {
          width: 30%;
        }

        &:hover {
          background-color: lighten(#7d7d7d, 10%);
        }
      }

      .quantity-input {
        width: 100px;
        height: 46px;
        font-size: 20px;
        padding: 5px 10px;
      }
    }

    .edit-button {
      @include button;
      width: 45%;
      background-color: #777;
      margin-bottom: 10px;

      &:hover {
        background-color: lighten(#7d7d7d, 10%);
      }
    }

    .back-button {
      @include button;
      width: 45%;
      margin-top: 10px;
    }
  }
}