@mixin form-container{
  display: flex;
  flex-direction: column; /* 縦方向の並び順を指定 */
  justify-content: center; /* 横方向（水平方向）の中央揃え */
  align-items: center; /* 縦方向（垂直方向）の中央揃え */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px; /* 左右のパディングを追加 */
  box-sizing: border-box; /* ボックスモデルをborder-boxに設定 */

  // 背景について記述
  background-color: #ffffff; /* 背景色を設定 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* ボックスシャドウを設定 */
  padding: 20px; /* コンテンツとの間に余白を設定 */
  border-radius: 8px; /* 角丸を設定 */
  width: 50%; /* 幅を狭く設定 */
  margin: 0 auto; /* 水平方向に中央揃え */
  margin-bottom: 60px; /* ボトムの余白を追加 */
  @media screen and (max-width: 390px) {
    display: flex;
    flex-direction: column; /* 縦方向の並び順を指定 */
    justify-content: center; /* 横方向（水平方向）の中央揃え */
    align-items: center; /* 縦方向（垂直方向）の中央揃え */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px; /* 左右のパディングを追加 */
    box-sizing: border-box; /* ボックスモデルをborder-boxに設定 */

    width: 100%; /* 幅を100%に設定 */
    margin: 0 auto; /* 水平方向に中央揃え */
    margin-bottom: 60px; /* ボトムの余白を追加 */
  }
}

@mixin form-instructions{
  font-size: 13px;
  position: relative;
  margin-top: -40px;
  margin-bottom: 10px;
  opacity: 0.4;
  @media screen and (max-width: 390px) {
    font-size: 10px;
  }
}

// 送信ボタンのスタイル
@mixin form-submit-button-input{
  padding: 10px 40%; /* ボタンのパディングを調整 */
  font-size: 15px; /* ボタンのテキストのサイズを調整 */
  background-color: #1E9AF4; /* 背景色を青に設定 */
  color: white; /* 文字色を白に設定 */
  border-radius: 20px; /* 角丸を設定 */
  border: 1px solid rgba(0, 0, 0, 0.2); /* 薄い黒の枠を設定 */
}

@mixin form-submit-button{
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  margin-top: 10px; /* アクションと他の要素の間に余白を設定 */
}

@mixin field-form{
  width: 90%; /* 入力フィールドの横幅を親要素いっぱいに広げる */
  padding: 10px 4%; /* 入力フィールドのパディングを調整 */
  font-size: 13px; /* 入力フィールドのテキストのサイズを調整 */
  margin-bottom: 13px; /* 各入力フィールドの間に余白を設定 */
  border-radius: 20px; /* 角丸を設定 */
  margin-right: 13px;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 薄い黒の枠を設定 */
}

@mixin flash-notice{
  color: red;
  font-size: 14px;
}

@mixin form-title{
  margin-bottom: 10px; /* タイトルと入力フィールドの間に余白を設定 */
  @media screen and (max-width: 390px) {
    font-size: 13px;
    margin-bottom: 25px;
  }
}

@mixin form-link{
  display: flex;
  flex-direction: column; /* 縦方向の並び順を指定 */
  align-items: center; /* 入力フィールドを中央揃え */
  margin-top: 13px; /* アクションと他の要素の間に余白を設定 */
  @media screen and (max-width: 390px) {
    font-size: 10px;
  }
}