
@mixin hover-background($color: #a3a3a3) {
  &:hover {
    background-color: $color;
  }
}

@mixin list-heading {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  @media screen and (max-width: 460px) {
    display: inline-block;
    font-size: 20px;
  }
}

@mixin list-heading-after {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
}

@mixin menu-index{
  text-align: center;
  width: 100%;
  justify-content: center;
}

@mixin menu-heading-h3{
  margin-bottom: 0;
  padding-bottom: 5px;
  line-height: 1.2;
}