<div class="menu-bar">
  <div class="menu-bar_left">
    <span class="menu-bar_app-name">Autonomy</span>
    <span class="menu-bar_subtitle">~自炊で毎日の健康管理を~</span>
  </div>
  <div class="menu-bar_right">
    <div class="menu-bar_menu">
      <%= link_to user_my_page_path(current_user.id), class: "menu-bar_link mypage-link" do %>
        <span class="menu-bar_icon"></span>
        <span class="menu-bar_text">マイページ</span>
      <% end %>
      <%= link_to "/login", class: "menu-bar_link calendar-link" do %>
        <span class="menu-bar_icon"></span>
        <span class="menu-bar_text">カレンダー</span>
      <% end %>
    </div>
  </div>
</div>



<h1>ホーム画面になります。</h1>