<% if flash.now[:error] %>
  <div class="flash error">
    <%= flash.now[:error] %>
  </div>
<% elsif flash.now[:notice] %>
  <div class="flash notice">
    <%= flash.now[:notice] %>
  </div>
<% end %>