
	<div class="custom-ingredient-fields">
		<div id="ingredient-delete">
			<a class="ingredient-delete-actions">❌</a>
		</div>
		<%= ingredient_form.text_field :name, autofocus: true, autocomplete: "name", placeholder: " 食材名 (上限15文字)", maxlength: 15, class: "ingredient-name" %>
		<%= ingredient_form.text_field :quantity, autofocus: true, autocomplete: "quantity", placeholder: " 数量", maxlength: 4, class: "ingredient-quantity" %>
		<%= ingredient_form.select :unit, [['g', 'g'], ['kg', 'kg'], ['ml', 'ml'], ['L', 'L'], ['個', '個'], ['枚', '枚'], ['匹', '匹'], ['切れ', '切れ'], ['杯', '杯'], ['缶', '缶'], ['本', '本'], ['袋', '袋']], prompt: '単位', class: "ingredient-unit" %>
	</div>


