
<div class="menu-show-list">
  <div class="menu-show-title">
    <h1>献立情報</h1>
  </div>

  <div class="show-contents-title">
    <p>　献立名　</p>
  </div>

  <div class="menu-contents">
    <%= menu.menu_name %>
  </div>

  <% if menu.menu_contents.present? %>
    <div class="show-contents-title">
      <p>　献立の説明　</p>
    </div>
    <div class ="menu-contents">
      <%= menu.menu_contents %>
    </div>
  <% end %>

  <div class="show-contents-title">
    <p>　献立画像　</p>
  </div>

  <div class ="menu-contents">
    <%= image_tag(rails_blob_path(menu.image.variant(resize_to_fill: [220, 190])), class: "rounded-image") %>
  </div>
</div>
