<div class="menu-bar">
  <div class="menu-bar-left">
    <span class="menu-bar-app-name">Autonomy</span>
  </div>
  <div class="menu-bar-right">
    <%= link_to user_my_page_path(current_user.id), class: "menu-icon-link" do %>
      <%= image_tag("my-page-icon.png", alt: "マイページ", class: "menu-icon") %>
      <span class="menu-icon-text">マイページ</span>
    <% end %>
  </div>
</div>






