@import 'shared/styles';
@import 'shared/menuForm';

.completed-show-container{
  @include menu-container;
  @media screen and (max-width: 900px) {
    width: 100%;
  }

  .menu-detail-container{
    width: 70%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }

    .ingredient-show-container{
      @include flex-center-column;
      @media screen and (max-width: 480px) {
        width: 100%;
      }

      .show-contents-title{
        @include contents-title;
        margin-top: 30px;
      }

      #ingredients_list {
        width: 100%;
      }
    }
  }

  .button-container{
    width: 100%;

    .complete-cooking-button,
    .back-button{
      @include button;
      width: 70%;
    }

    .complete-cooking-button{
      height: 60px;
      margin-top: 20px;
      margin-bottom: 5px;
      background-color: #555
    }

    .back-button{
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
}