@import 'shared/styles';

.new-registration-container{
  @include form-container;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
  @media screen and (max-width: 850px) {
    padding: 20px 10px;
    width: 100%;
  }

  .registration-title {
    @include form-title;
  }

  .registration-instructions{
    @include form-instructions;
  }

  .registration-input{
    width: 50%;
    @media screen and (max-width: 1300px) {
      width: 70%;
    }
    @media screen and (max-width: 500px) {
      width: 95%;
    }

    .registration-field input {
      @include field-form;
    }

    .registration-actions {
      @include form-submit-button;
    }

    .registration-actions input[type="submit"] {
      @include form-submit-button-input;
    }

    .registration-link{
      @include form-link;
      margin-bottom: 30px;
    }

    .registration-link a {
      text-decoration: none;
    }
  }
}