@import 'shared/styles';

.new-session-container{
  @include form-container;
  height: 450px;
  @media screen and (max-width: 1200px) {
    width: 75%;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
  }

    .session-title{
      @include form-title;
    }

    .session-instructions{
      @include form-instructions;
    }

    .session-input{
      width: 50%;
      @media screen and (max-width: 1300px) {
        width: 65%;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }

    .session-field input{
      @include field-form;
      // @media screen and (max-width: 700px) {
      //   width: 100%;
      // }
    }

    .session-actions{
      @include form-submit-button;
    }

    .session-actions input[type="submit"]{
      @include form-submit-button-input;
    }

    .session-link{
      @include form-link;
      padding-top: 10px;
      padding-bottom: 3px;
    }

    .session-link a {
      text-decoration: none;
      padding-bottom: 5px;
    }
}
