@import 'shared/styles';

.edit-registration-container{
  @include form-container;

  .registration-title {
    @include form-title;
  }

  .registration-instructions{
    @include form-instructions;
  }

  .registration-input{
    width: 200px;
    @media screen and (max-width: 400px){
      width: 73%;
    }
  }

  .registration-field input{
    @include field-form
  }

  .registration-actions{
    @include form-submit-button;
  }

  .registration-actions input{
    @include form-submit-button-input;
  }

  .back-button{
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 40%;
    font-size: 15px;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    @media screen and (max-width: 400px) {
      margin-top: 10px;
      margin-left: 5px;
      padding: 10px 40%;
      font-size: 15px;
      background-color: #000000;
      color: white;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      white-space: nowrap;
    }
  }

}