@import 'shared/styles';
@import 'shared/form';

.password-update-container{
  @include form-container;

  .password-update-title{
    @include form-title;
    margin-bottom: 30px;
  }

  .password-update-instructions{
    @include form-instructions;
  }

  .password-update-instructions p {
    margin-bottom: 0px
  }

  .password-update-input{
    width: 50%;
    @media screen and (max-width: 1000px){
      width: 70%;
    }
    @media screen and (max-width: 900px){
      width: 90%;
    }
  }

  .password-update-field input{
    @include field-form
  }

  .password-update-actions{
    @include form-submit-button;
    margin-bottom: 40px
  }

  .password-update-actions input{
    @include button;
    background-color: #1E9AF4;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}