@import 'shared/styles';
@import 'shared/form';

.password-reset-request-container{
  @include form-container;

  .password-reset-request-title{
    @include form-title;
  }

  .password-reset-request-title h1{
    margin-bottom: 0px;
  }

  .password-reset-request-instructions p{
    font-size: 13px;
    margin-bottom: 30px;
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: 10px;
    }
  }

  .password-reset-request-input{
    width: 50%;
    @media screen and (max-width: 1000px){
      width: 70%;
    }
    @media screen and (max-width: 900px){
      width: 90%;
    }

    .password-reset-request-back-button{
      width: 100%;

      .back-button{
        @include button;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
  }

  .password-reset-request-field input{
    @include field-form
  }

  .password-reset-request-actions{
    @include form-submit-button;
  }

  .password-reset-request-actions input{
    @include button;
    background-color: #1E9AF4;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }

}