@import 'shared/styles';
@import 'shared/form';

.user-info-container{
  @include form-container;
  @media screen and (max-width: 750px) {
    width: 100%;
    padding: 0;
  }

  .user-info-title{
    @include form-title;
    margin-top: 15px;
  }

  .my-page-input{
    width: 50%;
    @media screen and (max-width: 1200px){
      width: 80%;
    }

    .user-details-container {
      margin-bottom: 60px;

      .label {
        margin-bottom: 0;
        font-size: 12px;
        @media screen and (max-width: 600px){
          font-size: 8px;
        }
      }

      .detail-and-edit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #ccc; /* アンダーラインを設定 */
        padding-bottom: 10px;
        @media screen and (max-width: 600px){
          font-size: 16px;
        }
      }

      .detail {
        margin: 0;
        margin-right: 10px;
      }

      .edit-link {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .my-page-back-button{
    width: 50%;
    margin-top: 50px;
    @media screen and (max-width: 600px){
      width: 75%;
    }

    .back-button{
      @include button;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 30px;
      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
  }
}