@import 'shared/styles';

.menu-index-container{
  @include menu-index;

  .menu-heading {
    @include menu-heading;
    margin-top: 0px;
  }

  .menu-heading h3 {
    @include menu-heading-h3;
    @media screen and (max-width: 900px) {
      font-size: 17px;
    }

  }

  .menus_list{
    @include menus_list;

    .menu-item{
      @include menu_item;

      .rounded-image {
        @include rounded-image;
      }

      .menu-item-title {
        @include menu-item-title;
      }

      .delete-button {
        position: absolute;
        top: -8px;
        left: -8px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.8);
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: 1px solid #000000;
        background-color: rgb(255, 255, 255);
        @include hover-background;
      }
    }

    .menu-item-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      .decrement-button,
      .increment-button {
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
        color: black;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include hover-background(#e6e6e6);
      }

      .menu-item-quantity {
        font-size: 16px;
        text-align: center;
        width: 40px;
        padding: 5px 10px;
      }
    }
  }


  .button-set-container {
    display: block;
    bottom: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;

    .button-style {
      margin-top: 10px;
      padding: 10px 0;
      width: 30%;
      font-size: 15px;
      color: white;
      border-radius: 20px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
    }

    /* ボタンの背景色クラス */
    .bg-custom-menu {
      background-color: #555;
      @include hover-background;
    }

    .bg-standard-menu {
      background-color: #777;
      @include hover-background(#dadada);
    }

    .bg-shopping-list {
      background-color: rgba(#333, 0.1);
      height: 60px;
      margin-top: 20px;
      font-size: 25px;
      cursor: auto;
    }

    @media screen and (max-width: 800px) {
      .button-style {
        width: 80%;
      }
    }
  }

  .empty-cart-message{
    margin-top: 60px;
    margin-bottom: 60px;
    @media screen and (max-width: 500px) {
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 45px;
    }
  }
}