<p>Autonomyをご利用いただきありがとうございます。</p>

<p>この度は、メールアドレスのご本人確認をお願いいたします。以下のリンクをクリックして、認証手続きを完了させてください。</p>

<p><%= link_to 'メールアドレスを認証する', custom_user_confirmation_url(confirmation_token: @token) %></p><br>

<p style="margin: 0; padding: 0;">新規登録の方へ：</p>
<p style="margin: 0; padding: 0;">・メールアドレスの誤登録やリンク不具合の際は、再登録をお願いします。</p><br>

<p style="margin: 0; padding: 0;">メールアドレス更新の方へ：</p>
<p style="margin: 0; padding: 0;">・メールアドレスの認証前であれば、既存のアドレスでのログインは引き続き可能です。</p><br>

<p style="margin: 0; padding: 0;">ご注意：</p>
<p style="margin: 0; padding: 0;">・このリンクはお送りしたメールが届いてから24時間有効です。</p>
<p style="margin: 0; padding: 0;">・24時間を過ぎると、リンクは無効となりますので、お早めにご対応ください。</p>