<p>Autonomyをご利用いただきありがとうございます。</p>

<p>この度は、メールアドレスのご本人確認をお願いいたします。以下のリンクをクリックして、認証手続きを完了させてください。</p>

<p><%= link_to 'メールアドレスを認証する', custom_user_confirmation_url(confirmation_token: @token) %></p>

<p>もし誤ったメールアドレスを登録された場合、または上記リンクが機能しない場合には、お手数ですが再度新規登録をお願いします。</p>

<p>ご注意：</p>
<ul>
  <li>このリンクはお送りしたメールが届いてから24時間有効です。</li>
  <li>24時間を過ぎると、リンクは無効となりますので、お早めにご対応ください。</li>
</ul>