<p>Autonomyをご利用いただきありがとうございます。</p>

<p>パスワード変更のリクエストがありました。<br>
以下のリンクから変更手続きを行っていただけます。</p>

<p><%= link_to 'パスワードをリセットする', verify_reset_token_url(@resource, reset_password_token: @token) %></p><br>

<p style="margin: 0; padding: 0;">ご注意：</p>
<p style="margin: 0; padding: 0;">・このリンクはお送りしたメールが届いてから24時間有効です。</p>
<p style="margin: 0; padding: 0;">・24時間を過ぎると、リンクは無効となりますので、お早めにご対応ください。</p>